name: Deploy to Render
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deployment
        run: |
          curl -X POST https://api.render.com/deploy/srv-d4beu2npm1nc73bopg20?key=l-o5Qqxz5ew
          
